@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
   .scrollbar-main::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100vh;
  }
    .scrollbar-main::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: crimson;
  }
}